.asset-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-pic img {
    width: 60px;
    height: 60px;
}
.content {

}
h6 {
    font-family: "Open Sans";
}
.paragraphe {
    
}